/* --------------------
design
-----------------------*/
.design-outside{
    padding: 3em 0;
    position: relative;
} 


.design-inside{
    width:40.2em;
    height:28.2em;
    
}

#step1 .design-inside{
    border: .1em solid white;
}

#step1 .design-area{
    border-top: .1em solid white;
}

#step2 .design-inside{
    border: .1em solid black;
}

#step2 .design-area{
    padding: 1em 0;
    border-top: .1em solid black;
}

#step3 .design-inside{
    border: .1em solid white;
}



.textarea{

}





.step-instruct {
    padding-top: 1em;
    height: 3em;
}

.design-area{
    width: 40em;
    height: 25em;
}

.design-area img{
    width:100%;
    height:25em;
    
}
#upload-img{
    width:30em;
    height:20em;   
}

.stepbar{
    padding: 1em 0;
    
}
.stepbar img{
    width:30em;
    height:auto;
}
.step-button{
    position: absolute;
    right: 5%;
    top: 6em;
}

.step-button a{
    font-size: 80%;
}
