/*------
Base styles
---------*/
@font-face {

font-family: Agency FB;

src: url("http://uncutbeatz.com/clear/fonts/AGENCYR.TTF.ttf") format("truetype");

font-style:normal;

}

body {
    font-family: Agency-FB;

    margin: 0;
    padding: 0;
    background-color: #b8d6e7;
    
    /*font: 1em/1.2 "Helvetica Neue", Helvetica, Arial, Geneva, sans-serif;*/
}

h1, h2, h3, h4 {
    color:#2D6662;
}

h1 {

}

h2 {
    
}

p {

}

a:link {

}

a:visited {

}

a:focus {

}

a:hover {

}

a:active{

}

/*---------
Layout syles
----------*/

.container {
    max-width: 75em;
    margin: auto;
}
.green {
    background-color: #01b6c6;
    
}

    

.white {
    background-color: white;
}
.nav-bar {
    color: #888F91;
    background-color: #fff;
    padding: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9999
    
}

.content {
    padding: 1em 1.25em;
    background-color: #b8d6e7;
   
    margin-top: 5em;
}

.footer {
    margin: 1em 0 0 0;
    color: #888F91;
    background-color: #fff;
    /*padding: 1em 1.25em;*/
    text-align: center;
}
.right {
    float: right;
}

.left {
    float:left;
}

.center {
    display: block;
    margin-left:auto;
    margin-right: auto;
}

.vcenter {
    vertical-align: middle;
}

.tcenter {
    text-align: center;
}


/* --------------------
Nav-bar
-----------------------*/
.nav {
    margin: 0;
    padding: 0;
    list-style: none;
}

.nav li {
    display: inline;
    margin: 0;
    font-size: 1.15em;
    
}

.nav a {
    display:inline-block;
    padding: .7em 1.25em;
    color: #888F91;
    text-decoration: none;
    border-bottom: 1px solid gray;
}

.nav a:link {

}

.nav a:visited {

}

.nav a:focus{

}

.nav a:hover {

}

.nav a:active {

}

.navbar-brand {
  padding: 0;
}
.navbar-brand>img {
  height: 100%;
  width: auto;
}







.navbar-left{
    float: left;
}

.navbar-right{
    float: right;
}


/


/* --------------------
Login form styles
-----------------------*/
form {
    border: .25em solid #f1f1f1;
    padding: .7em 1.25em;
}

input[type=text],input[type=password]{
    width: 75%;
    padding: .5em 1em;
    margin: .25em .1em;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;

}

.modal {
    display: none; /*hidden by defaulty*/
    position: fixed; 
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto; /*enable scroll if needed*/
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
    padding-top: 5em;    
}

.modal-content {
    max-width: 40em;
    margin: auto;
}

.close {
    position: absolute;
    right: 2.5em;
    top: 0;
    color: #000;
    font-size: 3em;
    font-weight: bold;
}

.close: hover, .close: focus {
    color: red;
    cursor: pointer;
}

/* Add Zoom Animation */
.animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)} 
    to {-webkit-transform: scale(1)}
}
    
@keyframes animatezoom {
    from {transform: scale(0)} 
    to {transform: scale(1)}
}



/* --------------------
Single styles
-----------------------*/
.img-responsive { max-width: 100%; }
/* --------------------
Button styles
-----------------------*/
.button {
    margin-top: 1em;
    margin-bottom: 1em;
}
.btn{
    /*color: #F0FBFA;*/
    background-color: #F0FBFA ;
    color: #01b6c6;
    
    /*background-color: #fff;*/
    border-color: #222;
    display: inline-block;
    padding: .75em 1.5em;
    margin-bottom: 0;
    font-size: 1.5em;
    font-weight: 400;
    line-height: 1.2;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    border: 1px solid transparent;
    border-radius: .2em;
    text-decoration: none;
}

.btn:hover {
    color: #fff;
    background-color: #A9DBE6;

}

.btn:focus {

}

.btn:active {

}

#start-icon{
    padding-right: 0.5em;
}

/* --------------------
Image styles
-----------------------*/
img {
    text-align: center;
}
.imgcontainer {
    text-align: center;
    position: relative;
}

.imgSize280 {
        text-align: center;
        width: 70em;
        border: 0.125em solid white;
        box-shadow: 0em 0.125em 0.25em rgba(205, 205, 205, 0.7);
        -moz-box-shadow: 0em 0.125em 0.25em rgba(205, 205, 205, 0.7);
        -webkit-box-shadow: 0em 0.125em 0.25em rgba(205, 205, 205, 0.7);
}

/* --------------------
Popular works
-----------------------*/
#popular-works{
    
}
#photo {
    width: 40%;
    display: inline-block;
    float: left;
    border: 1px dashed blue;
}
#diary {
    width:60%;
    height: 100%;
    height: inherit;
    display: inline-block;
    float: right;
    border: 1px dashed blue;
    
}

#location {
    display: block;
    border: 1px dashed blue;
    position: absolute;
    top: 0;
    right: 0;
    
}

#text{
    display: block;
    border: 1px dashed blue;
   
}


#vote-like{
    display: inline-block;
    border: 1px dashed blue;
    position: absolute;
    bottom:0;
    left: 0;
}


#author-date{
    display: inline-block;
    float:right;
    border: 1px dashed blue;
    position: absolute;
    right: 0;
    bottom: 0;
}




/* --------------------
Wide styles
-----------------------*/
@media (min-width: 42em) {
    .header {padding: 1.5em 3em;}
    .nav-bar {padding: 1em 3em;}
    .content {padding: 2em 3em;}
    .footer {padding: 2em 3em;}

  .nav li{
      display: inline;
      margin: 0 1em 0 0;
  }

  .nav a{
      display: inline;
      padding: 0;
      border-bottom: 0;
  }

}
